body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: rgb(233,235,238);
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  background-color: #3b5998;
  color: white;
  height: 5em;
}
.header-content {
  display: flex;
  height: 5em;
  justify-content: space-between;
  align-items: center;
  width: 981px;
  margin: 0 auto;
}

.logo {
  display: flex;
  width: 14em;
  margin-left: 3em;
}

.logo button {
  margin-left: 1em;
  height: min-content;
  padding: 4px;
  margin-top: 0.6em;
  background-color: #42b72a;
  border-style: none;
  color: white;
}
main {
  width: 981px;
  margin: 0 auto;
  padding: 1em  1em;
}
main > p {
  font-weight: bold;
  margin-left: 2.5em;
  margin-top: 10px;
  margin-bottom: 20px;
}
main > h1 {
  margin-left: 1.3em;
}

ul {
  display: flex;
}

figure {
  text-align: center;
  background-color: white;
  padding: 3em 0em;
  width: 94%;
  padding-bottom: 1em;
}

.figure-detial {
  height: 12em;
  padding-right: 1em;
  padding-left: 1em;
}

.figure-descripton {
  font-weight: lighter;
  margin: 1em;
  margin-bottom: 1em;
}



button {
  margin-top: 5em;
}